# SPDX-License-Identifier: Apache-2.0

# OS artifacts
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# VSCode
.vscode/

# Node
node_modules/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# .NET
bin/
obj/
*.user
*.suo
*.vs/

# Rust
/target/
Cargo.lock

# Tauri build
/src-tauri/target/

# macOS
*.DS_Store

# Windows
*.lnk

# Linux
*~

# IDEs
.idea/

# Others
*.tmp
